.tag-filter {
  margin-bottom: 20px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the start without extra spacing */
}

.photo-item {
  cursor: pointer;
  position: relative;
  width: 150px; /* Fixed width for uniformity */
  height: 150px; /* Fixed height for square containers */
  overflow: hidden; /* Hide overflow */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Added to ensure proper alignment */
  flex-direction: column; /* Align children vertically */
  align-items: center;
}

.photo-thumbnail {
  width: 100%;
  object-fit: cover; /* Ensure thumbnails have consistent sizes */
  cursor: pointer;
}

.photo-wrapper {
  flex: 1; /* Allow it to grow and fill the space */
  position: relative; /* Necessary for positioning child elements */
}

.confirm-delete-button {
  margin-top: 10px; /* Ensure spacing above the button */
  width: 100%; /* Full width to fill the space */
}

.photo-thumbnail {
  width: 100%; /* Fill the container width */
  height: 100%; /* Fill the container height */
  object-fit: cover; /* Maintain aspect ratio and fill the square */
  display: block; /* Ensures the image behaves correctly */
  min-height: 100%; /* Ensure it covers the height */
}

.delete-icon {
  position: absolute !important;
  top: -8px;
  right: 2px;
  z-index: 10; /* Ensure it appears above the image */
  color: rgb(255, 255, 255);
  background-color: rgba(128, 127, 127, 0.7) !important;
  border-radius: 5%;
  display: none !important;
  width: 32px; /* Control the width to make it more square */
  height: 32px; /* Control the height to match the width */
}

.delete-icon .MuiSvgIcon-root {
  color: rgb(255, 255, 255) !important; /* Change the color of the delete icon */
  font-size: 20px !important; /* Adjust the icon size if needed */
}

.photo-item:hover .delete-icon {
  display: block !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it stays on top */
}

.modal-content {
  position: relative; /* Reference for absolute positioning */
  background-color: #fff;
  border-radius: 10px;
  max-width: 90vw; /* Limit max width */
  max-height: 90vh; /* Limit max height */
  overflow: hidden; /* Hide overflowing content */
  display: flex;
  justify-content: center; /* Center content */
  align-items: center; /* Center content */
  margin: auto; /* Ensures centering in flex */
}

.modal-content img {
  max-width: 100%; /* Ensure image fits within modal */
  max-height: 100%; /* Ensure image fits within modal */
  object-fit: contain; /* Maintain aspect ratio */
}

.close {
  position: absolute;
  color: #0c0c0c;
  top: 10px; /* Adjust to your liking */
  right: 10px; /* Adjust to your liking */
  font-size: 30px;
  cursor: pointer;
}
